@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Copperplate-regular";
  src: url("/fonts/copperlate/Copperplate.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Copperplate-light";
  src: url("/fonts/copperlate/Copperplate-light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Copperplate-bold";
  src: url("/fonts/copperlate/Copperplate-bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}
/* * {
  box-shadow: 0 0 0 3px red inset;
} */

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background: url("/assets/background-1.png");
  color: var(--foreground);
}
:root {
  --background: #ffffff;
  --foreground: #5d5b5b;
  --formText: #aeaeae;
}
